SUBSYSTEMS=="usb", ENV{.LOCAL_ifNum}="$attr{bInterfaceNumber}"
SUBSYSTEMS=="usb",ATTRS{idVendor}=="0403",ATTRS{idProduct}=="6001", MODE:="0777", SYMLINK+="caster_base"
SUBSYSTEMS=="usb",ATTRS{idVendor}=="0403",ATTRS{idProduct}=="6011", ENV{.LOCAL_ifNum}=="00", MODE:="0777", SYMLINK+="caster_mcu"
SUBSYSTEMS=="usb",ATTRS{idVendor}=="0403",ATTRS{idProduct}=="6011", ENV{.LOCAL_ifNum}=="01", MODE:="0777", SYMLINK+="caster_sonar"
SUBSYSTEMS=="usb",ATTRS{idVendor}=="0403",ATTRS{idProduct}=="6011", ENV{.LOCAL_ifNum}=="02", MODE:="0777", SYMLINK+="caster_bms"
SUBSYSTEMS=="usb",ATTRS{idVendor}=="0403",ATTRS{idProduct}=="6011", ENV{.LOCAL_ifNum}=="03", MODE:="0777", SYMLINK+="caster_imu"
