<?xml version="1.0"?>
<launch>
  <arg name="log_type" default="screen"/>

  <arg name="teleop" default="true"/>

  <!-- Robot description -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find caster_description)/urdf/caster_v2_xacro.xacro" />

  <!-- Robot base -->
  <include file="$(find caster_base)/launch/include/base.launch.xml">
    <arg name="log_type" value="$(arg log_type)"/>
    <arg name="base_version" value="v2" />
    <arg name="has_body" value="false" />
    <arg name="body_version" value="v1" />
  </include>

  <group if="$(arg teleop)">
    <include file="$(find caster_base)/launch/include/teleop.launch.xml" />
  </group>
</launch>
