<?xml version="1.0"?>
<launch>
  <arg name="log_type" default="screen" />
  <arg name="base_version" default="v2" />
  <arg name="has_body" default="false" />
  <arg name="body_version" default="v2" />

  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find caster_control)/config/control_$(arg base_version).yaml"/>

  <!-- Spawn controllers -->
  <group unless="$(arg has_body)">
    <node pkg="controller_manager" type="spawner" name="controller_spawner" output="$(arg log_type)"
      args="caster/joint_state_controller caster/drive_controller" />
  </group>

  <group if="$(arg has_body)">
    <rosparam command="load" file="$(find caster_control)/config/body_control_$(arg body_version).yaml"/>
    <node pkg="controller_manager" type="spawner" name="controller_spawner" output="$(arg log_type)"
      args="caster/joint_state_controller caster/drive_controller caster/body_controller" />
  </group>

  <!-- Cmd mux -->
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/>
  
  <node pkg="nodelet" type="nodelet" name="yocs_cmd_vel_mux"
        args="load yocs_cmd_vel_mux/CmdVelMuxNodelet nodelet_manager">
    <param name="yaml_cfg_file" value="$(find caster_control)/config/cmd_vel_mux.yaml"/>
    <remap from="yocs_cmd_vel_mux/output/cmd_vel" to="cmd_vel"/>
  </node>
 </launch>
