<launch>
  <!-- <param name="/use_sim_time" value="true" /> -->
  <param name="/use_sim_time" value="false" />  <!--//1.仿真为true-->
 
  <param name="robot_description"
    textfile="$(find cartographer_ros)/urdf/my_backpack_2d.urdf" />  <!--//2.修改机器人模型-->
 
  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />
 
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find caster_navigation)/config/cartographer
          -configuration_basename my_backpack_2d_localization.lua
          -load_state_filename /home/yourname/Map/map.pbstream" 
      output="screen" >
    <!-- <remap from="echoes" to="horizontal_laser_2d" /> --> <!--//这个好像没啥用，我们一般用的都是 scan-->
  </node>
          <!-- -load_state_filename $(arg load_state_filename)" -->
            <!-- 3.纯定位接口参数设置  -->
 <!--//4.纯定位使用的地图，我是直接用固定路径,这里按照自己的路径修改即可-->
  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05
                                                    -pure_localization 1" /> <!--//5.修改文件occupancy_node_main.cc  增加是否纯定位模式参数pure_localization（如果选择直接注释就不需要增加这个参数了）-->
 
  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />
   <!--<node name="playbag" pkg="rosbag" type="play"
      args="-/-clock $(arg bag_filename)" /> --> <!--//6.不需要跑数据集，直接打开自己的雷达-->
</launch>