<?xml version="1.0"?>
<launch>
  <arg name="log_type" default="screen"/>
  <arg name="base_version" default="v2" />
  
  <!-- Arguments -->
  <arg name="map_file" default="$(find caster_navigation)/maps/nanhua.yaml"/>
  <arg name="rviz" default="false"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" output="$(arg log_type)" />

  <!-- AMCL -->
  <include file="$(find caster_navigation)/launch/amcl.launch.xml" >
    <arg name="log_type" value="$(arg log_type)"/>
    <arg name="base_version" value="$(arg base_version)" />
  </include>

  <!-- move_base -->
  <include file="$(find caster_navigation)/launch/move_base.launch.xml">
    <arg name="log_type" value="$(arg log_type)"/>
    <arg name="base_version" value="$(arg base_version)" />
  </include>

  <!-- rviz -->
  <group if="$(arg rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find caster_viz)/viz/navigation.rviz" output="$(arg log_type)"/>
  </group>
</launch>

<!-- rosrun cartographer_ros cartographer_pbstream_to_ros_map -map_filestem=/home/caster/test -pbstream_filename=/home/caster/caster_moma_ws/src/caster_robot/caster_navigation/maps/test.pbstream -->